.titulo{
    color: rgb(201, 32, 32);
}

.impreso{
    color: rgb(32, 57, 201);
}

.importe{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rellenado1{
    background-color: #4a1;
}

.space{
    margin-right: 3%;
}

.derecha{
    float: right;
}

#rola{
    text-align: center;
}

.delete{
    color:#fff;
    background-color: #f44;
    border: 1px solid #f44;
    margin-left: 10px;
    font-weight: bold;
}

.delete:hover{
    color:#fff;
    background-color: rgb(202, 17, 17);
}